p
{
    color:rgb(44, 1, 1);
}

p
{
    font-size:large;
}

body
{
    background-color:rgb(160, 104, 118);
}

div
{
    max-width: 600px;
    margin: auto;
}

#head

{
    font-size:18pt;
}

#plaza{

    text-align: center;
}

img

{

    border: 5px solid rgb(158, 119, 190);
   
}
